@use "styles/const";


.sectionTeam {
  @extend %wrapper;
}

.section {}

.container {}

.title {
  @extend %title;
}

.desc {
  @extend %description;
  margin-bottom: 16px;
}

.sectionProjects {
  @extend %wrapper;
  height: 245vh;
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 32px;
}

.scrollSection {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.img {
  /*width: 800px;*/
  height: 80%;
  object-fit: cover;
  object-position: center;
}