@use "styles/const";

.about {
  @extend %wrapper;

}
.aboutUs {
  min-height: 200vh;
}
.title {
  @extend %title;
}
.desc {
  @extend %description;
}
.team {
  min-height: 100vh;
}
.project {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 500vh;
  border: 1px solid red;
}
